<section>
  <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-10 table-responsive">
          <h1>Product</h1>
          <table class="table">
              <thead>
                  <tr>
                      <td>Product ID</td>
                      <td>Name</td>
                      <td>Quantity</td>
                      <td>Price</td>
                      <td>Category</td>
                      <td>Supplier</td>
                      <td> </td>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let product of products">
                      <td>{{ product.productId }}</td>
                      <td>{{ product.name }}</td>
                      <td>{{ product.quantity }}</td>
                      <td>{{ product.price }}</td>
                      <td>{{ product.categoryName }}</td>
                      <td>{{ product.supplierName }}</td>
                      <td><button (click)="edit(product)">Edit</button> | <button (click)="delete(product)">Delete</button></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</section>
<section>
  <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-10">
          <h2>{{ formLabel }}</h2>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-horizontal">
                  <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-1">Name:</label>
                      <div class="col-xs-12 col-sm-6">
                          <input class="form-control" type="text" formControlName="name">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-1">Quantity:</label>
                      <div class="col-xs-12 col-sm-6">
                          <input class="form-control" type="text" formControlName="quantity">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-1">Price:</label>
                      <div class="col-xs-12 col-sm-6">
                          <input class="form-control" type="text" formControlName="price">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-1">Category:</label>
                      <div class="col-xs-12 col-sm-6">
                          <select class="form-control" formControlName="category">
                              <option *ngFor="let category of categories" value="{{ category.categoryId }}">{{ category.categoryName }}</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-xs-12 col-sm-1">Supplier:</label>
                      <div class="col-xs-12 col-sm-6">
                          <select class="form-control" formControlName="supplier">
                              <option *ngFor="let supplier of suppliers" value="{{ supplier.supplierId }}">{{ supplier.name }} - {{ supplier.contactName }}</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-footer col-xs-12 col-sm-3">
                      <button type="submit" [disabled]="!form.valid">Submit</button>
                      <button type="button" (click)="cancel()">Cancel</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</section>
